.accordion{
    display: flex;
    width: 800px;
    justify-content: space-between;
    background-color: bisque;
    padding:50px;
    height: auto;
    margin:0 auto;
    .question-item{
        &__title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                width: 30px;
                height: 30px;
            }
        }
    }
}